body {
  font-family: Microsoft Yahei;
  font-style: normal;
  position: relative;
}
header, header .container {
    background: #353b5e;
    color: #fff;
}
.header-main {
    width: 80%;
    margin: 0 auto;
}
.container {
    width: 80%;
    background: #fff;
}
.none {
    display: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.one-row {
  display: block;
  width:100%;
}
.header {
  padding: 10px 15px;
  border-bottom: 2px solid #f3f5f7;
}
.identify {
  font-size: 16px;
  display: inline-block;
  line-height: 50px;
}
.identify span {
  font-weight: bold;
}
.split {
  font-size: 16px;
  display: inline-block;
  line-height: 50px;
  padding-left: 4px;
  padding-right: 4px;
}
.white-on-green {
  color: #fff;
  background: #88c92d;
}
.logout {
    margin-top: 10px;
    display: inline-block;
    font-size: 16px;
    width: 30px;
    line-height: 30px;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
}
.project-intro {
  color: #7b858f;
}
h2 span {
  font-size: 14px;
}
ul {
  list-style: none;
  padding: 0;
}
ul li {
    float: left;
    margin-right: 25px;
    padding-bottom: 4px;
    padding-top: 8px;
    font-size: 16px;
    font-weight: bold;
    color: #a9b0b6;
    cursor: pointer;
}

ul li.active {
  border-bottom: 3px solid #56cbca; 
}
ul li:hover {
  border-bottom: 3px solid #56cbca;
}
.clear {
  clear: both;
}
.fill-section-header {
  font-weight: bold;
  padding: 8px 0;
}
form label {
  color: #c1c1c1;
}
.dian-logo-intro {
  font-weight: bold;
  line-height: 37px;
  padding-top: 5px;
}
.more, #add-project-more {
  margin-left: 2px;
  font-size: 13px;
  height: 20px;
  line-height: 20px;
  width: 20px;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
}
table.can-more {
  margin-bottom: 2px;
}
footer {
  width: 80%;
  margin: 0 auto;
  background: #fff;
  font-size: 12px;
  display: block;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 15px; /*设置margin会导致没有背景色*/
}
footer p {
  margin: 0;
}
input[type="radio"] {
  cursor: pointer;
}
/**
* 增加或者删除的按钮和只删除
*/
tbody tr td.add-or-cancel, tbody > tr > td.del-item {
    border: none;
    border-right: solid 1px #fff;
    border-bottom: solid 1px #fff;
    background: #fff;
}
tbody tr td.add-or-cancel .glyphicon, tbody > tr > td.del-item > .glyphicon {
    display: inline-block;
    line-height: 34px;
    width: 24px;
    cursor: pointer;
}

.alert {
    margin-top: 10px;
    margin-bottom: 5px;
}
.widget {
    border: 1px solid #c9c9c9;
    border-radius: 3px;
    margin-bottom: 20px;
    background: #fafafa url('../images/cream.png') repeat;
}
.widget .widget-head {
    background-color: #f8f8f8;
    background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f2f2f2));
    background: -webkit-linear-gradient(top, #f8f8f8, #f2f2f2);
    background: -moz-linear-gradient(top, #f8f8f8, #f2f2f2);
    background: -ms-linear-gradient(top, #f8f8f8, #f2f2f2);
    background: -o-linear-gradient(top, #f8f8f8, #f2f2f2);
    background: linear-gradient(top, #f8f8f8, #f2f2f2);
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    text-shadow: 0px 1px #fff;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #fff;
    color: #666;
    font-size: 13px;
    font-weight: bold;
    padding: 8px 15px;
}
.widget .pad{
    padding: 13px 15px;
}
#add-del-mates table {
    width: 80%;
}
.mobile-list {
    display: none;
}
.fill-section-header {
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
    font-size: 18px;
    padding: 8px 0;
}
.strong-radio {
    font-weight: bold;
    text-decoration: underline;
}
@media all and (max-width: 770px) {
    body .container {
        width: 95%;
    }
    body footer {
        width: 95%;
    }
    ul li {
        float: left;
        min-width: 70px;
        margin-right: 10px;
        padding-right: 0;
        padding-bottom: 8px;
        padding-top: 8px;
        font-size: 16px;
        font-weight: bold;
        color: #a9b0b6;
        cursor: pointer;
    }
    #add-del-mates table {
        width: 100%;
    }
    .pc-table {
        display: none;
    }
    .mobile-list {
        display: block;
    }
    .mobile-list span {
        font-weight: 700;
    }
}